.vacancies {
   width: 1160px;
   margin: 140px auto;
   &::before {
      z-index: 105;
      top: 0;
      left: 0;
      position: fixed;
      content: '';
      display: none;
      background-color: rgba(0, 0, 0, 0.428);
      width: 100%;
      height: 100vh;
   }
   span {
      display: none;
      top: 0;
      left: 0;
      position: fixed;
      width: 100%;
      height: 450vh;
      background-color: rgba(0, 0, 0, 0.284);
   }
   span.active {
      display: block;
   }
   .main-block {
      z-index: 10;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background: #f5f6fa;
      box-shadow: 0px 4px 50px rgba(117, 115, 115, 0.1);
      padding: 24px 50px;
      margin: 15px;
      background: none;
      box-shadow: none;

      input {
         cursor: pointer;

         width: 15em;
         text-align: center;
         font-size: 16px;
         line-height: 16px;
      }
      .text-wrapper {
         text-align: center;
         b {
            font-family: 'Helvetica Neue LT Std';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 48px;
            letter-spacing: 0.02em;
            color: #343437;
         }
         p {
            font-family: 'Helvetica Neue LT Std';
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 175%;
            color: rgba(52, 52, 55, 0.7);
         }
      }
   }
   .modal-position {
      opacity: 0;
      z-index: -10 !important;
      overflow: hidden;
      box-shadow: 0px 0px 83px -3px rgba(0, 0, 0, 0.75);

      &::-webkit-scrollbar {
         width: 6px;
         height: 6px;
      }
      &::-webkit-scrollbar-track {
         border-radius: 10px;
         background: rgba(0, 0, 0, 0.1);
      }
      &::-webkit-scrollbar-thumb {
         border-radius: 10px;
         background: rgba(0, 0, 0, 0.2);
      }
      &::-webkit-scrollbar-thumb:hover {
         background: rgba(0, 0, 0, 0.4);
      }
      &::-webkit-scrollbar-thumb:active {
         background: rgba(0, 0, 0, 0.9);
      }

      border-radius: 4px;
      background-color: #b5b6bd;
      top: 17%;
      left: 17%;
      position: fixed;
      height: 60%;
      width: 65%;
      z-index: 10;

      .cross {
         display: none;
      }

      > div {
         height: fit-content;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         background: #f5f6fa;
         box-shadow: 0px 4px 50px rgba(117, 115, 115, 0.1);
         padding: 24px 50px;
         margin: 15px;
      }

      a {
         display: block;
         text-align: center;
         text-decoration: none;
         font-family: 'Helvetica Neue LT Std';
         font-style: normal;
         font-weight: 500;
         font-size: 1em;
         line-height: 22px;
         color: #343437;
         width: 200px;
         height: auto;
         padding: 22px 38px;
         background: #e2e2e4;
         border: 1px solid #000000;
         border-radius: 6px;
         margin-top: 2em;
      }
      p {
         font-size: 1.5em;

         .ic {
            margin: 0 10px 0 0;
         }
      }
   }
   .modal-position.show {
      opacity: 1;
      z-index: 105 !important;
      overflow: auto;
   }
}
